<div  class="hero-unit">
  <h1>Employees</h1>
</div> 

<div>
<%= link_to 'New Employee', new_employee_path %>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Employee ID</th>
    <th>Name</th>
  </tr>
</thead>

<tbody>
<% @employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.idString, edit_employee_path(employee) %></td>
    <td><%= link_to employee.name, edit_employee_path(employee) %></td>
  </tr>
<% end %>
</tbody>
</table>

