<div  class="hero-unit">
  <h1>Assets</h1>
</div> 

<div>
<%= link_to 'New Asset', new_asset_path %>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Asset ID</th>
    <th>Name</th>
  </tr>
</thead>

<tbody>
<% @assets.each do |asset| %>
  <tr>
    <td><%= link_to asset.idString, edit_asset_path(asset) %></td>
    <td><%= link_to asset.name, edit_asset_path(asset) %></td>
  </tr>
<% end %>
</tbody>
</table>
