<div  class="hero-unit">
  <h1>Check Out In</h1>
</div> 

<%= form_tag chk_out_ins_path, :method => 'get', :id => "chk_out_ins_search" do %>
  <div class="row">
    <div class="span6">
      &nbsp;
    </div>

    <div class="span6 search_div">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-info' %>
    </div>
  </div>
  <div id="chk_out_ins"><%= render 'chk_out_ins' %></div>
<% end %>
